Package: com.gmcf.oldemby
Name: OldEmby
Depends: firmware (>= 6.0), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: 32-bit Emby client for iOS 6-9 (armv7) - video & music with forced 720p H.264 transcoding
Maintainer: gmcf111 <gmcf111@github>
Author: gmcf111
Section: Multimedia
Priority: optional
Tag: purpose::multimedia
Depiction: https://github.com/gmcf111/oldemby
